app/node_modules
app/public/build
app/public/hot
app/public/storage
app/storage/*.key
app/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
app/.idea
app/.vscode
.DS_Store